<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="56cae647-3cef-4aeb-b334-4f24e9ef2788" name="TestSuite - user 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="56cae647-3cef-4aeb-b334-4f24e9ef2788fileName">TestSuite---user-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
